body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box1 {
    height: 100vh;
    width: 100%;
    background-image: url(images/001.jpg);
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
}

.box2 {
    height: 100vh;
    width: 100%;
    background-image: url(images/002.jpg);
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
}

.box3 {
    height: 100vh;
    width: 100%;
    background-image: url(images/003.jpg);
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
}

h1 {
    font-family: sans-serif;
    font-size: 50px;
    color: #fff;
    margin: 0;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}